<h1>Anúncios</h1>

<div>
  <ul>
    <%= @ads.each do |ad| %>
      <li>
        <%= link_to "Editar", edit_ad_path(ad) %>
        <p><strong><%= ad.title %></strong></p>
        <p><%= ad.description %></strong></p>
        <p><%= ad.price %></strong></p>
      </li>
    <% end %>
  </ul>
</div>